.flex_container{
    background-color: red;
    width: 1000px;
    height: 1000px;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    /* gap: 20px; */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
}
.flex{
    width: 150px;
    height: 150px;
    background-color: blue;
}

/* Display: grid */
.grid_container{
  background-color: limegreen;
  height: 900px;
  max-width: 1000px;
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
  gap: 30px;
}
.grid{
background-color: coral;
height: 100px;
min-width: 100px;
}